<layout name='layout' />

<form class="layui-form">		
	<div class="layui-form-item">
		<label class="layui-form-label">父栏目</label>
		<div class="layui-input-block">
			<select name="fid" id="fid" default="<{$list['fid']}>" lay-filter="fid" lay-verify="required">
			<option value="0">根栏目</option>
	        <volist name="cate" id="vo">
	        <option value="<{$vo['id']}>"><php>
	            for($i=0; $i<$vo['count']*2; $i++){
	               echo '&nbsp;&nbsp;';            
	            }
	        </php><{$vo['name']}></option>
	        </volist>
	        </select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-block">
			<input type="text" name="name" lay-verify="required" class="layui-input" value="<{$list['name']}>" placeholder="必填">
		</div>
	</div>	

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">关键词</label>
		<div class="layui-input-block">
			<input type="text" name="keyword" value="<{$list.keyword}>" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<input type="text" name="description" value="<{$list.description}>" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">管理员</label>
		<div class="layui-input-block">
			<input type="text" name="user" value="<{$list['user']}>" class="layui-input">
			<p>多个用户使用"|"进行分割，如：aaa|bbb|ccc...，不填则只有系统管理员维护</p>
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">外链</label>
		<div class="layui-input-block">
			<input type="text" name="url" value="<{$list['url']}>" class="layui-input" lay-verify="_url">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">图片地址</label>
		<div class="layui-input-inline" style="width:400px">
			<input type="text" id="picname_url" name="picname" value="<{$list.picname}>" class="layui-input">
		</div>
		<div class="layui-inline">
			<button type="button" class="layui-btn"
			 id="uploud"
			 url="<{:U('Upload/image')}>"
			 size="5120"
			 exts="jpg|png|gif|jpeg"
			 accept="images"
			 tag="picname"
			 >上传图片</button>
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-block">
			<input type="text" name="sort" class="layui-input" value="<{$list['sort']}>" placeholder="必填" lay-verify="number">
		</div>
	</div>
	
	<hr>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
     	<button class="layui-btn" lay-submit="" lay-filter="edit" url="<{:U('Category/edit')}>"><i class="layui-icon">&#xe642;</i>编辑</button>
     	<button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
    </div>
	<input type="hidden" name="id" value="<{$list['id']}>" />
	<input type="hidden" name="thisFID" value="<{$list['fid']}>" />
	<input type="hidden" name="path" value="<{$list['path']}>" />
	<input type="hidden" name="model" value="<{$list['model']}>">
</form>
<script type="text/javascript" src="<{:RES}>/js/upload.js"></script>